html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 2rem 3rem;
    max-width: 800px;
    color: #fff;
    background-color: rgb(89, 156, 148);
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .15);
}

.container h1 {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 3rem;
}

.form {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
}

.form-input,
.form-button {
    margin: 1rem 0;
    padding: 1.1em;
    width: 80%;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    border: 0;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.form-input:focus::placeholder,
.form-textarea:focus::placeholder {
    color: rgb(177, 129, 81);
}

.form-fieldset {
    margin: 2rem 0;
    padding: 3rem;
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.form-fieldset legend,
.form-fieldset label {
    font-size: 2rem;
}

.form-fieldset input {
    padding: 2rem
}

.form-button {
    width: 40%;
    border-radius: 35px;
    background-color: rgb(177, 129, 81);
    color: #fff;
    cursor: pointer;
    transition: background-color .5s;
}

.form-textarea {
    margin: 2rem 0;
}

.form-button:hover {
    background-color: rgb(190, 147, 103);
}